.treatment_container {
    -fx-background-color: #fbf9f1;
}

.text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.selected_patient {
    -fx-background-color: #e5e1da;
    -fx-background-radius: 12px;
}

/* Кнопка "Додати" */
.add_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */

    -fx-font-size: 16; /* Розмір шрифту */
    -fx-font-weight: bold; /* Стиль шрифту */

    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

/* Ефект при наведенні */
.unselected_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
}


