/* Стилізація основного фону */
.patient_cell_container {
    -fx-background-color: #e5e1da;
    -fx-background-radius: 15px;
}

.text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

/**/
.select_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}
/* Ефекти при наведенні на кнопку */
.select_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

.delete_button {
    -fx-background-color: #ff6961; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}

/* Ефект при наведенні */
.delete_button:hover {
    -fx-background-color: #db5851; /* Трохи темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}