/* Стилізація основного фону */
.temperature_sheet_cell_container {
    -fx-background-color: #e5e1da;
    -fx-background-radius: 15px;
}
.check_date_container {
    -fx-background-color: #aad7d9;
    -fx-background-radius: 0 0 15 15;
}
.morning_container {
    -fx-background-color: #aad7d980;
    -fx-background-radius: 15px;

    -fx-border-color: #aad7d9; /* Колір межі */
    -fx-border-width: 3px; /* Ширина межі */
    -fx-border-radius: 15px; /* Округлені кути межі */

}
.evening_container {
    -fx-background-color: #aad7d980;
    -fx-background-radius: 15px;

    -fx-border-color: #aad7d9; /* Колір межі */
    -fx-border-width: 3px; /* Ширина межі */
    -fx-border-radius: 15px; /* Округлені кути межі */
}

.text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.morning_info_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}
/* Ефекти при наведенні на кнопку */
.morning_info_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

.morning_edit_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}
/* Ефекти при наведенні на кнопку */
.morning_edit_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

.evening_info_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}
/* Ефекти при наведенні на кнопку */
.evening_info_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

.evening_edit_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}
/* Ефекти при наведенні на кнопку */
.evening_edit_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}