.doctor_info_dashboard_container {
    -fx-background-color: #fbf9f1;
}

/* Стилі  для основного тексту на сторінці */
.text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

/* Стилі для поля з інформацією про обраного пацієнта */
.selected_patient {
    -fx-background-color: #D1CFCB;
    -fx-background-radius: 12px;
}

/* Стилі поля пошуку пацієнта */
.searchfield {
    -fx-background-color: #D1CFCB;
    -fx-background-radius: 12px;

    -fx-font-size: 16;
    -fx-font-weight: bold;
}
/* Стилі для кнопки очистки поля пошуку */
.searchfield_button {
    -fx-background-color: #a7a5a2; /* Колір фону */
    -fx-background-radius: 50px; /* Округлені кути фону */

    -fx-cursor: hand; /* Стиль курсора при наведенні */
}
.searchfield_button:hover {
    -fx-background-color: #a7a5a2; /* Трохи темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

/* Стилі для кнопки "Додати" */
.add_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
}
.add_button:hover {
    -fx-background-color: #87c2c9; /* Трохи темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

.filters_container {
    -fx-background-color: #D1CFCB; /* Колір фону */
    -fx-background-radius: 0 10 10 10; /* Округлені кути фону */
    -fx-border-radius: 0 10 10 10;
    -fx-border-color: #a7a5a2;
    -fx-border-width: 2px;
}

.radio-button .radio {
    -fx-background-color: #fbf9f1;
}
.radio-button:selected .dot {
    -fx-background-color: #aad7d9;
}

.check-box .box {
    -fx-background-color: #fbf9f1;
}
.check-box:selected .mark {
    -fx-background-color: #aad7d9; /* Колір галочки */
}

/* Стилі для списку пацієнтів */
.doctor_listview_dashboard_container .list-view {
    -fx-background-color: #D1CFCB;
    -fx-background-radius: 12px;
}
.doctor_listview_dashboard_container .list-cell { /* Стилі для клітинок списку пацієнтів */
    -fx-background-color: #d1cfcb;
    -fx-background-radius: 15px;

    -fx-background-insets: 5px;
}
.list-view .scroll-bar:vertical { /* Стилі для вертикального повзунка */
    -fx-background-color: #e5e1da;
    -fx-background-radius: 10px;
}
.list-view .scroll-bar .thumb { /* Стилі для "бігунка" (ручки) повзунка */
    -fx-background-color: #aad7d9;
    -fx-background-radius: 10px;
}


