/* Стилізація основного фону */
.container {
    -fx-background-color: #fbf9f1;
}

/* Стилізація бічної панелі */
.side_panel {
    -fx-background-color: #aad7d9;
}

/* Текст */
.text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

/* Поля для введення */
.input_field {
    -fx-background-color: #e5e1da;
    -fx-background-radius: 12px;
    -fx-pref-height: 35;

    -fx-text-fill: #000000;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

/* Кнопка входу */
.login_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */
    -fx-pref-height: 35;

    -fx-text-fill: #000000;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
/* Ефекти при наведенні на кнопку */
.login_button:hover {
    -fx-background-color: #87c2c9; /* Темніший відтінок фону при наведенні */
    -fx-cursor: hand; /* Стиль курсора при наведенні */
}

/* Текст помилки */
.error_text {
    -fx-color: #ff6961;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}