/**/
.delete_patient_container {
    -fx-background-color: #fbf9f1;

    -fx-border-width: 5px;
    -fx-border-color: #aad7d9;
}

.patient_container {
    -fx-background-color: #e5e1da;
    -fx-background-radius: 15px;
}

/**/
.main_text {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

/* Кнопка "Підтвердити" */
.confirm_button {
    -fx-background-color: #ff6961; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */

    -fx-font-size: 16; /* Розмір шрифту */
    -fx-font-weight: bold; /* Стиль шрифту */

    -fx-cursor: hand; /* Стиль курсора при наведенні */
}
.confirm_button:hover {
    -fx-background-color: #db5851; /* Трохи темніший відтінок фону при наведенні */
}

/* Кнопка "Скасувати" */
.cancel_button {
    -fx-background-color: #aad7d9; /* Колір фону */
    -fx-background-radius: 10px; /* Округлені кути фону */

    -fx-font-size: 16; /* Розмір шрифту */
    -fx-font-weight: bold; /* Стиль шрифту */

    -fx-cursor: hand; /* Стиль курсора при наведенні */
}
.cancel_button:hover {
    -fx-background-color: #87c2c9; /* Трохи темніший відтінок фону при наведенні */
}